/*palette
#618685 dark
#fefbd8 light
#80ced6 bright
#d5f4e6 light w/bright*/

body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Oxygen Mono', monospace;
	background-color: #d5f4e6;
}

.jumbotron {
	background-color: #80ced6;
	color: #618685;
}

h4 {
	background-color: #80ced6;
	color: #618685;
	font-weight: bold;
	padding:4px;
}

#trainSchedule {
	border: solid 2px;
	border-color: #80ced6;
}

#trainSchedule thead {
	background-color: #fefbd8;
	color: #618685;
}

#addTrain form {
	color: #618685;
	border: solid 2px;
	border-color: #80ced6;
	padding-left: 6px;
}

#addTrainButton {
	background-color: #618685;
	color: #fefbd8;
}